# Backend environment variables
PORT=5000
DATABASE_URL=postgresql://neondb_owner:npg_OD0q4QJhTyYc@ep-polished-mud-aofps4vq-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
CORS_ORIGIN=http://localhost:3000
